.button-enabled {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    user-select: none;
    width: 6em;
    height: 1.5em;
}

.button-disabled {
    background-color: red;
    /* Red */
    border: none;
    color: white;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    user-select: none;
    width: 6em;
    height: 1.5em;
}